/*---- contact form ---*/

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
    #msg0,#msg1, #msg2, #msg3, #msg4, #msg5 {
        color:#ffffff;
    }
    body{
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    #wrapper { 
        background: url(billeder/Baggrund.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        position: relative;
      }
      #baggrund{
        position: relative;
        height: 100vh;
    }
  
    #success-message {
      opacity: 0;
    }
    h4{
        color: #fff;
    }
    
    .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
      padding: 0 20% 0 20%;
    }
    form{
        margin-bottom: 5em;
    }
    .margin-top-25 {
      margin-top: 25px;
    }
    
    .form-title {
      padding: 2px;
      font-size: 5em;
      color:#ffffff;
      font-family: 'Oswald', sans-serif;
    }
   .checkbox{
       float: left;
       display: block;
   }
    
    .form-group .form-control {
      border-bottom: 1px;
      border-style: solid;
      border-radius:0; 
      border-color: #000;
    }
    input#cvr.form-control , input#dato.form-control{
        width: 155px;
        border-style: solid; 
        margin: 30px 0px 0px 15px;
    }
    input#penge.form-control {
        width: 300px;
        padding: 40px;
        font-size: 1.5em;
        
    }
    
    .form-group .form-control:focus {
        box-shadow: none;
      border-width: 0 0 2px 0;
      border-color: #000;
      
    }
    
    textarea {
      resize: none;
    }
    
    .btn-mod.btn-large {
        height: auto;
        padding: 13px 52px;
        font-size: 15px;
    }
    
    .btn-mod.btn-border {
        color: #ffffff;
        border: 1px solid #ffffff;
        background: transparent;
    }
    
    .btn-mod, a.btn-mod {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 4px 13px;
        color: #fff;
        background: rgba(34,34,34, .9);
        border: 1px solid transparent;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    }
    
    .btn-mod.btn-border:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {
        color: #fff;
        border-color: #81a96f;
        background: #81a96f;
        outline: none;
    }
    
    @media only screen and (max-width: 500px) {
        .btn-mod.btn-large {
           padding: 6px 16px;
           font-size: 11px;
        }
      
        .form-title {
            font-size: 20px;
      }
    }